@font-face {
  font-family: "Courgette";
  src: url("../../../../fonts/Courgette_Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../../fonts/Roboto_Variable.ttf");
}

@font-face {
  font-family: "Ubuntu_Mono_Regular";
  src: url("../../../../fonts/Ubuntu_Mono_Regular.ttf");
}