.scarr_avatar_grid_archie {
    background: linear-gradient(to right, #B6959A, #EAB08D);
    border-radius: 10px;
    grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 768px) {
    .scarr_avatar_grid_archie {
       grid-template-columns: repeat(4, 1fr);
    }
}

.scarr_avatar_grid_richie {
    background: linear-gradient(to right, #112245, #9AACF3);
    border-radius: 10px;
    grid-template-columns: repeat(6, 1fr);
}

@media only screen and (max-width: 768px) {
    .scarr_avatar_grid_richie {
       grid-template-columns: repeat(3, 1fr);
    }
}

.scarr_avatar_grid_rob {
    background: linear-gradient(to right, #23233C, #C384D0);
    border-radius: 10px;
    grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 768px) {
    .scarr_avatar_grid_rob {
       grid-template-columns: repeat(4, 1fr);
    }
}

.scarr_avatar_grid_timmy {
    background: linear-gradient(to right, #90C367, #3F3620);
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.scarr_avatar_grid_tom {
    background: linear-gradient(#200558 0%, #D19D82 55%, #2E1A86 100%);
    border-radius: 10px;
    grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 768px) {
    .scarr_avatar_grid_tom {
       grid-template-columns: repeat(4, 1fr);
    }
}

#Oakwood_Ball {
    background: linear-gradient(to right, #4A30BE, #3E1079);
    border: 10px solid white;
    border-radius: 10px;
}


#Oakwood_Ball h3 {
    font-size: 40px;
    text-align: center;
}

#Oakwood_Ball h3,
#Oakwood_Ball p {
    color: #E39AD5;
    font-family: "Courgette";
}

#Oakwood_Ball p {
    font-size: 25px;
    max-width: 800px;
}

#Pink_Elephant_World h3 {
    font-size: 40px;
    text-align: center;
}

#Pink_Elephant_World h3,
#Pink_Elephant_World p {
    color: #E39AD5;
    font-family: "Courgette";    
}

#I_am_Clarice p {
    border-bottom: 2px solid #E39AD5; 
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 50px;
    font-size: 35px;
    max-width: 800px;
    text-shadow: 1px 1px 2px pink;         
}

#I_hereby_welcome_you_to_the_Pink_Elephant_World p {
    font-size: 40px;
    max-width: 800px;
    text-shadow: 2px 2px 4px pink; 
}

/* T.S.T.V. STYLES */

#TSTV_Character_Abilities > div {
    margin: 0;
}

#TSTV_Character_Abilities ul {
    line-height: 2;
}

#TSTV_Character_Abilities li {
    margin-bottom: 20px;
}

/* T.S.T.V. CHARACTER BOXES */

.scarrbox_Archie {
    background-color: #401A1A;
    color: #FFAA7F;
}

.scarrbox_Duperman {
    background-color: #172642;
    color: #FFFFFF;
}

.scarrbox_Flargon {
    background-color: #2A0100;
    color: #FF6687;
}

.scarrbox_Richie {
    background-color: #1A1F40;
    color: #FFDC95;
}

.scarrbox_Rob {
    background-color: #34005F;
    color: #FFB4FC;
}

.scarrbox_Timmy {
    background-color: #243116;
    color: #56DB82;
}