@font-face {
  font-family: "MedievalSharp_Regular";
  src: url("../../../../fonts/MedievalSharp_Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../../fonts/Roboto_Variable.ttf");
}