.solarwrapper {
    background: transparent;
}

figcaption, .solartitle, .solartext {
    background-color: #171F2B;
    border-radius: 10px;
    padding: 10px;    
}

.solartextstyle_medieval,
.solartextstyle_medieval .solartitle {
    font-family: "MedievalSharp_Regular";
}

.solartextstyle_medieval .solartext {
    font-size: 20px;
}

.solartextstyle_medieval figcaption {
    font-size: 18px;
}

video {
  width: 100%;
}




/* Experimental: trying to reduce gradient banding by adding noise. */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;

    opacity: 0.1;

    background-image:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140' viewBox='0 0 140 140'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='140' height='140' filter='url(%23n)'/%3E%3C/svg%3E");

    background-repeat: repeat;
}
